@model Kalikoe.ViewModels.ContactusViewModel
@using CaptchaMvc.HtmlHelpers

@{
    Layout = "~/Views/Home/KalikoeMaster1.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kalikoe</title>

    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png" type="image/png" />

   
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="home">

    <div id="dvPopup" class="simplePopup1" style="background-color:white;left:0px !important;color:black !important;overflow: scroll;height:60%;">
        <br /><b>GET FREE KALI DOLLARS<br />(limited time sticker)<br />Invite your friends with this custom link and you will earn KDC for every user that signs up</b><br />
        @if (Session["userid"] != null)
        {<textarea cols="70" rows="4">http://kali-tv/signup?refer=@Session["encemailaddress"].ToString()</textarea>}
    </div>
    <div id="dvThankyou" class="simplePopup1" style="background-color:white;left:0px !important;color:black !important;overflow: scroll;height:60%;">
        <div style="padding: 28% 35% 0 35%;"><span style="color:#FF8E52;font-weight:bold;font-size:25px;text-align: center;">Thank You.</span></div>
    </div>


    <style>
        .load-full-screen {
            margin-top: -11px;
        }

        .simplePopup {
            display: none;
            position: fixed !important;
            z-index: 3;
            color: #fff;
            padding: 8px;
            width: 30%;
            min-width: 30%;
            padding: 3%;
        }

        .simplePopup1 {
            display: none;
            position: fixed !important;
            z-index: 3;
            color: #fff;
            padding: 8px;
            width: 45%;
            min-width: 45%;
            padding: 3%;
            top: 20% !important;
        }

        .simplePopupClose {
            float: right;
            font-weight: bold;
        }

        .simplePopupBackground {
            display: none;
            background: #000;
            position: fixed !important;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }
    </style>

    <script src="/js/popup.js"></script>
    <section class="row" style="background-color:white;">
        @*<div class="container">*@
        <div class="row media-grid content_video_posts">
            @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "container-fluid signup_form auth_form" }))
            {
                <div class="form-inner row" style="margin-right:0%; margin-left: 0%;padding-right:10%;padding-left:10%">
                    <div class="form-header row m0" style="margin-right:0%; margin-left: 0%;">
                        @*<a href="#"><img style="width:20%;height" src="images/logo.png" alt=""></a>*@
                        <h3>Contact Us</h3><br />
                        <span id="errcaptch" style="font-weight:bold;color:red;">@ViewBag.captchamsg</span>
                    </div>
                    <div class="form-body row m0">
                        <b>Name :</b>
                        @Html.TextBoxFor(m => m.contactusVM.name, new { @class = "form-control", @required = "true" })
                        <b>Email Address :</b>
                        @Html.TextBoxFor(m => m.contactusVM.emailaddress, new { @class = "form-control", @required = "true" })
                        <b>Subject</b>
                        @Html.TextBoxFor(m => m.contactusVM.subject, new { @class = "form-control", @required = "true" })
                        <br />  <b>Message : </b>
                        @Html.TextAreaFor(m => m.contactusVM.message, 10, 42, new { @placeholder = "", @style = "border-color:#E8EBEC;", @name = "" })
                        @Html.Captcha("Refresh", "Enter the text shown in image", 7, "Is required field.", false)<br />
                        <input type="submit" value="Submit" class="btn btn-default form-control">
                    </div>
                </div>
            }
        </div>
        @*</div>*@
    </section>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <!--jQuery, Bootstrap and other vendor JS-->
    <!--jQuery-->
    @*<script src="js/jquery-3.2.1.min.js"></script>*@

    <!--Bootstrap JS-->
    @*<script src="js/bootstrap.min.js"></script>*@

    <!--jScroll-->
    <script src="js/jquery.jscroll.min.js"></script>

    <!--Magnific Popup-->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!--Bootstrap Select-->
    <script src="vendors/bootstrap-select/js/bootstrap-select.min.js"></script>

    <!--Theme JS-->
    <script src="js/theme.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000"
                    },
                    "button": {
                        "background": "#670BB7"
                    }
                },
                "content": {
                    "href": "http://kali-tv/privacy-and-policy"
                }
            })
        });
    </script>
    <style>
        .signup_form .form-inner {
            margin-top: 20px !important;
            margin-bottom: 200px !important;
        }

        #CaptchaInputText {
            background-color: transparent;
            border: 1px solid #e8ebec;
            border-radius: 2px;
            height: 40px;
            padding: 0 20px;
            line-height: 38px;
            transition: all 300ms ease-in-out 0s;
            width: 100%;
        }

        .auth_form {
            height: auto !important;
        }
    </style>
    @if (ViewBag.success != null)
    {
        <script type='text/javascript'>
            $(document).ready(function () {
                $('#dvThankyou').simplePopup({
                    centerPopup: true,
                    open: function () { },
                    closed: function () { }
                });
            });
        </script>
    }
    <script>
        function fnPopRefer() {
            $('#dvPopup').simplePopup({
                centerPopup: true,
                open: function () { },
                closed: function () { }
            });
        }
    </script>
</body>
<!-- Mirrored from uxart.io/downloads/metavideo-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Jan 2019 06:53:39 GMT -->
</html>