@model Kalikoe.ViewModels.UsersViewModel
@{
    Layout = "~/Views/Home/KalikoeMaster1.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kalikoe</title>

    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png" type="image/png" />

    <!--Bootstrap and Other Vendors-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap-select/css/bootstrap-select.min.css" media="screen">

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

    <!--Theme Styles-->
    <link rel="stylesheet" href="css/default/style.css">
    <link rel="stylesheet" href="css/responsive/responsive.css">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="home">

        <div id="dvPopup" class="simplePopup1" style="background-color:#EFf3e1;left:0px !important;color:black;">
        <br /><b>Get free Kali Dollars (limited time sticker) </b><br />Invite your friends with this custom link and you will earn KDC for every user that signs up<br />
        @if (Session["userid"] != null)
        {<textarea cols="70" rows="4">http://kali-tv/signup?refer=@Session["encemailaddress"].ToString()</textarea>}
    </div>
    <script>
        function fnPopRefer() {
            $('#dvPopup').simplePopup({
                centerPopup: true,
                open: function () { },
                closed: function () { }
            });
        }
    </script>

    <style>
        .load-full-screen {
            margin-top: -11px;
        }

        .simplePopup {
            display: none;
            position: fixed !important;
            z-index: 3;
            color: #fff;
            padding: 8px;
            width: 30%;
            min-width: 30%;
            padding: 3%;
        }

        .simplePopup1 {
            display: none;
            position: fixed !important;
            z-index: 3;
            color: #fff;
            padding: 8px;
            width: 45%;
            min-width: 45%;
            padding: 3%;
            top: 20% !important;
            border-radius: 10%;
        }

        .simplePopupClose {
            float: right;
            font-weight: bold;
        }

        .simplePopupBackground {
            display: none;
            background: #000;
            position: fixed !important;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }
    </style>

    <script src="/js/popup.js"></script>
    <section class="row" style="background-color:white;">
        <div class="row media-grid content_video_posts">
            @using (Html.BeginForm("Profiles", "Home", FormMethod.Post, new { style = "width:94%", enctype = "multipart/form-data", @class = "container-fluid signup_form auth_form" }))
            {
                <div class="form-inner row">
                    <div class="form-header row m0">
                        <h3>My Profile</h3><br />
                    </div>
                    @if (Request.QueryString["msg"] != null)
                    {
                        <div class="row text-center">
                            <span style="color:red;font-size:14px;font-weight:bold;">Successfully Updated</span>
                        </div>
                    }
                    <div class="form-body row m0">
                        <h4 style="color:#4aa3df;"> Total Earnings : @ViewBag.kalidollar KDC</h4><br />
                        <img src="@Model.userVM.userlogo" width="150" /><br /><br /><b>Profile Image(560 x 560)</b>
                        <input type="file" name="file1" id="file1" /> <b>First Name</b><br />
                        @Html.TextBoxFor(m => m.userVM.firstname, new { @class = "form-control", @required = "true" }) <b>Last Name</b>
                        @Html.TextBoxFor(m => m.userVM.lastname, new { @class = "form-control", @required = "true" }) <b>Email</b>
                        @Html.TextBoxFor(m => m.userVM.emailaddress, new { @class = "form-control", @type = "email", @required = "true" }) <b>Mobile No</b>
                        @Html.TextBoxFor(m => m.userVM.mobileno, new { @class = "form-control", @required = "true" })<br />  <b>Gender</b><br />
                        @*<select name="gender" style="display:block;width:250px;" id="gender" class = "form-control">
                                <option value="">Select</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select> <br />  <b>Date Of Birth</b>*@
                        @Html.DropDownListFor(m => m.userVM.gender, new SelectList(Model.genderlistVM, "GID", "gender"), new { @class = "form-control", @required = "true" })<br /> <b>Date Of Birth</b>
                        @Html.TextBoxFor(m => m.userVM.dob, new { @class = "form-control", @required = "true", @type = "date" })<br />  <b>Country</b>
                        @Html.DropDownListFor(m => m.userVM.country, new SelectList(Model.countrylistVM, "code", "name"), new { @class = "form-control", @required = "true" })<br />  <b>State</b>
                        @Html.TextBoxFor(m => m.userVM.state, new { @class = "form-control", @required = "true" })<br />  <b>Post Code</b>
                        @Html.TextBoxFor(m => m.userVM.postcode, new { @class = "form-control", @required = "true" })<br />  <b>About me</b>
                        @Html.TextAreaFor(m => m.userVM.aboutme, new { @placeholder = "", @style = "border-color:#E8EBEC;", @name = "aboutme", @cols = "49", @rows = "10" })
                        @Html.HiddenFor(m => m.userVM.userlogo)

                        <input type="submit" value="Update" class="btn btn-default form-control">
                    </div>
                    <div class="form-footer row m0">
                        <a href="/" class="mfp-close">Close (Esc)</a>
                    </div>
                </div>
            }
        </div>
    </section>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <!--jQuery, Bootstrap and other vendor JS-->
    <!--jQuery-->
    <script src="js/jquery-3.2.1.min.js"></script>

    <!--Bootstrap JS-->
    <script src="js/bootstrap.min.js"></script>

    <!--jScroll-->
    <script src="js/jquery.jscroll.min.js"></script>

    <!--Magnific Popup-->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!--Bootstrap Select-->
    <script src="vendors/bootstrap-select/js/bootstrap-select.min.js"></script>

    <!--Theme JS-->
    <script src="js/theme.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000"
                    },
                    "button": {
                        "background": "#670BB7"
                    }
                },
                "content": {
                    "href": "http://kali-tv/privacy-and-policy"
                }
            })
        });
    </script>
    <style>
        .signup_form .form-inner {
            margin-top: 20px !important;
            margin-bottom: 200px !important;
        }

        .auth_form {
            height: auto !important;
        }

        textarea {
            height: auto;
            width: auto;
        }
    </style>
</body>
<!-- Mirrored from uxart.io/downloads/metavideo-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Jan 2019 06:53:39 GMT -->
</html>
